{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/page2" method="post"></form>
<h2 class="govuk-heading-xl">
    Do you have a parent company?
    </h2>
    {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      {{ govukInsetText({
        text: "You will need to provide turnover & tonne details for your parent company."
      }) }}
      
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
      </div>
    </div>
    {% endblock %}