{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/page2" method="post"></form>
<h2 class="govuk-heading-xl">
    Which Forest Risk Commodity do you use?
    </h2>
    {{ govukCheckboxes({
  
  
        items: [
          {
            value: "Palm oil ",
            text: "Palm oil "
          },
          {
            value: "Soya",
            text: "Soya"
          },
          {
            value: "Cocoa",
            text: "Cocoa"
          },
          {
            value: "Cattle",
            text: "Cattle"
          },
         <p>or</p>
         {
            value: "None of the above",
            text: "None of the above"
         }
        ]
      }) }}
      {{ govukInsetText({
        text: "If you are not using either of the commodity then please select the last option “None of these” "
      }) }}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
      </div>
    </div>
    {% endblock %}