{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <form class="form" action="/checkanswersamend_Soy" method="post">  


        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             
            </legend>        


            {{ govukCharacterCount({
                name: "amendmethods_soy",
                id: "amendmethods_soy",
                maxlength: 200,
                value:data['amendmethods_soy'],

                label: {
                  text: "What methods have you used to determine the change in your commodity usage?",
                  classes: "govuk-label--l",
                  isPageHeading: true
                }
               
              }) }}
          </fieldset>
          <div>
      
          
        
          
          {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
              text: "Upload your file"
            }
          }) }}
        </div>
        </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

    {% endblock %}