{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{prop}}

    <form class="form" action="/getdata_amend" method="post">

      <p>
        <!-- <h2 class="govuk-heading-xl">
            Which forest risk commodities do you want to amend?
          </h2> -->


        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             
            </legend>
            


            {{ govukCheckboxes({
              name: "static_amend_commodity",
              id: "static_amend_commodity",
              value:data['static_amend_commodity'].text,
            
              fieldset: {
                legend: {
                  text: " Which forest risk commodities do you want to amend?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
            {
              value: "Soy",
              text: "Soy"
            },
            {
              value: "Rubber",
              text: "Rubber"
            }
          ]
                  
      
              }) }}
             
          </fieldset>
        </div>
</p>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

    {% endblock %}