{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/apcomplete" method="post">
        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
          titleText: "Application Complete",
          html: "Your reference number<br><strong>HDJ2123F</strong>"
        }) }}
      </form>

      {{ govukInsetText({
        text: "Save this reference number for any future support or transactions related to your submission."
      }) }}
      <label class="govuk-label govuk-label--m" >Next Steps </label>

<p>If there are any questions about your submission, a regulator 
  will contact you at the email or phone number that you provided.</p>
  <a class="govuk-link" href="Dashboard_Amend_Soy">Return to dashboard</a>
    </div>
  </div>

{% endblock %}
