{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form class="form" action="/email-confirmation" method="post">

      <div class="govuk-form-group">

  <p>Welcome</p>
  <h1 class="govuk-heading-m">FRC Legislative Dashboard</h1>
  <p>This dashboard gives an overview about the submissions in progress or previously completed over 
    the years. To initiate a new exemption or report, please click the “New submission” link below
  </p>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    New Submission
    </button> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p>govuk-grid-column-one-half</p>
        <!-- <div class="cjs-home-page__card">
          <div class="govuk-grid-row">
        <h4 class="govuk-heading-s">Submissions</h4>
          
        </div>
      </div> -->
      <div class="govuk-grid-column-one-half">
        <p>govuk-grid-column-one-half</p>
      </div>
    </div>


    <!-- <div class="govuk-grid-row">
  <div class="display-one-third-from-wide govuk-!-margin-bottom-6">
      <div class="cjs-home-page__card">
        <div class="govuk-grid-row">
      <h4 class="govuk-heading-s">Submissions</h4>
        </form>
      </div>

           </div>           
            </div>

            <div class="display-one-third-from-wide govuk-!-margin-bottom-6">
              <div class="cjs-home-page__card2">
                <div class="govuk-grid-row">
              <h4 class="govuk-heading-s">reporting</h4>
                </form>
              </div>
        
                   </div>           
                    </div>
                  </div>
                   -->
          
                  <!-- </form> -->
          </div>
        <!-- </div>
      </div> -->
      {% endblock %}

