


{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
        

      <div class="cjs-home-page__card">
        <div class="govuk-grid-row">
      <h4 class="govuk-heading-s">Submissions</h4>
        
      </div>
    </div>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      <p>govuk-grid-column-one-half</p>
      <div class="cjs-home-page__card">
        <div class="govuk-grid-row">
      <h4 class="govuk-heading-s">Submissions</h4>
        
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>govuk-grid-column-two-thirds</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>govuk-grid-column-one-third</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p>govuk-grid-column-one-third</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p>govuk-grid-column-two-thirds</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p>govuk-grid-column-three-quarters</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>govuk-grid-column-one-quarter</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p>govuk-grid-column-one-quarter</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p>govuk-grid-column-three-quarters</p>
    </div>
  </div>
  {% endblock %}