{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">General details </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Annual turnover 
          </dt>
          <dd class="govuk-summary-list__value">
            200 mill
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/AnnunalTurnover">
              Change
             
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exemption period
          </dt>
          <dd class="govuk-summary-list__value">
          April 2021 - March 2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/PeriodOfExemption">
              Change
              
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Commodity
          </dt>
          <dd class="govuk-summary-list__value">
         Soy,Rubber
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/FRCcommodities">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
         
        </div>


       
        <p></p>
       
       
        
       <p></p>
        <h2 class="govuk-heading-m"> Soya  </h2>

        <div class="govuk-summary-list__row">
         
          <dt class="govuk-summary-list__key">
            Expected volume
          </dt>
         
          <dd class="govuk-summary-list__value">
          900 tonnes
          
          </dd>
         
          <dd class="govuk-summary-list__actions">
            <a href="/CommodityVolumePage">
              Change
              
            </a>
          </dd>
        
        </div>
        <div class="govuk-summary-list__row">
         
          <dt class="govuk-summary-list__key">
            Methodology
          </dt>
         
          <dd class="govuk-summary-list__value">
            Methodology
          
          </dd>
         
          <dd class="govuk-summary-list__actions">
            <a href="/CommodityVolumePage">
              Change
              
            </a>
          </dd>
        
        </div>

        <p></p>
        <h2 class="govuk-heading-m"> Rubber  </h2>

        <div class="govuk-summary-list__row">
         
          <dt class="govuk-summary-list__key">
            Expected volume
          </dt>
         
          <dd class="govuk-summary-list__value">
           900 tonnes
          
          </dd>
         
          <dd class="govuk-summary-list__actions">
            <a href="/CommodityVolumePage">
              Change
              
            </a>
          </dd>
        
        </div>

        <div class="govuk-summary-list__row">
         
          <dt class="govuk-summary-list__key">
            Methodology
          </dt>
         
          <dd class="govuk-summary-list__value">
            Methodology
          
          </dd>
         
          <dd class="govuk-summary-list__actions">
            <a href="/CommodityVolumePage">
              Change
              
            </a>
          </dd>
        
        </div>
      

      
        <!-- {% for item in items %}
        <li>{{ item.title }}</li>
      {% else %}
        <li>This would display if the 'item' collection were empty</li>
      {% endfor %} -->
       
          <p></p>
          <h2 class="govuk-heading-m"> Additional documents </h2>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document category
            </dt>
            <dd class="govuk-summary-list__value">
              Document name
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/ParentCompanyDetails">
                Change
                
              </a>
            </dd>
          </div>

         


       
      </dl>

     

      

      <h2 class="govuk-heading-m">Submit your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/appcomplete" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
