{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}









{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/commodityvolume" method="post">






      <h2 class="govuk-heading-xl">
        How much of these commodities do you use annually?
      </h2>
      <p>Enter the segregated volume for all the commodities selected</p>

      <dl>
        {% for commodity in data['selectedCommodities'] %}

        <div class="govuk-form-group">
          <!-- <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
               
              </legend> -->

          {{ govukInput({
          label: {
          text:commodity.text
          },
          classes: "govuk-input--width-5",         
          name: commodity.id,
          value:commodity.value if commodity.value else "",
          suffix: {
          text: "tonne"
          },
          errorMessage:
          {
            text: commodity.errorMessage
            
          } if commodity.errorMessage else undefined,

          spellcheck: false

          }) }}

          <!-- </fieldset> -->
        </div>
        {% endfor %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}