{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/Page_1" method="post">
        <p>Welcome</p>
      <h1 class="govuk-heading-l">
        Report your Forest Risk Commodities due diligence
      </h1>
      <h3 class="govuk-heading-m"> For [COMPANY NAME]</h3>
      <button class="govuk-button" data-module="govuk-button">New Submission</button>
      <div>
        <p>Submissions</p>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">In progress</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Year</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2023 - 2024</th>
              <td class="govuk-table__cell">Report</td>
              <td class="govuk-table__cell"> <a href="#">Edit </a></td>
            </tr>
            
          </tbody>
        </table>
        <p>Submissions</p>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">Completed</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Year</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2022 - 2023</th>
              <td class="govuk-table__cell">Report</td>
              <td class="govuk-table__cell"> <a href="#">View </a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2021-2022</th>
              <td class="govuk-table__cell">Re-exemption</td>
              <td class="govuk-table__cell"> <a href="#">View </a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2020-2021</th>
              <td class="govuk-table__cell">Exemption</td>
              <td class="govuk-table__cell"> <a href="#">View </a></td>
            </tr>
            
          </tbody>
        </table>
       
        </form>
    
    </div>
  </div>

{% endblock %}
