{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <form class="form" action="../FRC" method="post">

      <p>
        <h2 class="govuk-heading-xl">
          Which Forest Risk Commodity do you use?
          </h2>


        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             
            </legend>
            


            {{ govukCheckboxes({
              name: "FRC",
              id:"FRC",
          
                items: [
                  {
                    value: "Palm oil ",
                    text: "Palm oil "
                  },
                  {
                    value: "Soya",
                    text: "Soya"
                  },
                  {
                    value: "Cocoa",
                    text: "Cocoa"
                  },
                  {
                    value: "Beef",
                    text: "Beef"
                  },
                  {
                    value: "Coffee",
                    text: "Coffee"
                  },
                  {
                    value: "Leather",
                    text: "Leather"
                  },
                  {
                    value: "Leather",
                    text: "Leather"
                  },
                  {
                    value: "Maize",
                    text: "Maize"
                  },
                  {
                    value: "Rubber",
                    text: "Rubber"
                  },
                  {
                    divider: "or"
                  },
                 
                 {
                    value: "None of the above",
                    text: "None of the above"
                 }
                ]
              }) }}
              {{ govukInsetText({
                text: "If you are not using either of the commodity then please select the last option “None of these” "
              }) }}
          </fieldset>
        </div>
</p>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

    {% endblock %}