{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/Page_7" method="post">

        <p>




          

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
               
              </legend>
              
              <h2 class="govuk-heading-xl">
                What is your commodity volume for an year? 
                </h2>
                {{ govukInput({
                    label: {
                        id:"commodityvolume",
                        name:"commodityvolume"

                   
                    },
                    classes: "govuk-input--width-5",
                    id: "commodityvolume",
                    name: "commodityvolume",
                    suffix: {
                      text: "tonne"
                    },
                    spellcheck: false
                  }) }}
              
            </fieldset>
          </div>
</p>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
