{% extends "layouts/main.html" %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{prop}}

    <form class="form" action="CommodityVolumeGetController" method="post">

      <p>
        <h2 class="govuk-heading-l">
          Which forest risk commodities do you use within your UK commercial activity?
          </h2>


        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             
            </legend>
            


            {{ govukCheckboxes({
              name: "FRC",
              id:"FRC",
          
                items: data['commodities']
                  
      
              }) }}
             
          </fieldset>
        </div>
</p>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
    <a class="govuk-link" href="Dashboard">Cancel and return to dashboard</a>
  </div>
</div>

    {% endblock %}