
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <form class="form" action="/commodityvolume" method="post">
        <h1 class="govuk-fieldset__heading">
            Enter the monitoring period of your report
        </h1>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        This date range should be for a monitoring period in the past
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="fromYear">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fromYear" name="fromYear" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <p>to</p>           
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="toYear">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="toYear" name="toYear" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
    </fieldset>
  </div>
  {% endblock %}