
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <form class="form" action="/exemptionperiod" method="post">
        <h1 class="govuk-fieldset__heading">
            Enter the reporting period of your exemption
        </h1>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        This date range should be for a upcoming reporting period
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="fromMonth">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fromMonth" name="fromMonth" value="{{data['fromMonth']}}" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="fromYear">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fromYear" name="fromYear"  value="{{data['fromYear']}}"type="text" inputmode="numeric">
          </div>
        </div>
        
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <p>to</p>   
          </div>
        </div>
       
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="toMonth">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="toMonth" name="toMonth" value="{{data['toMonth']}}" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="toYear">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="toYear" name="toYear" value="{{data['toYear']}}" type="text" inputmode="numeric">
          </div>
          </div>
       
      </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>
    
    </fieldset>
    <a class="govuk-link" href="Dashboard">Cancel and return to dashboard</a>
  </div>
 
  {% endblock %}